# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/.nyc_output
/cypress/videos/
/cypress/screenshots/

# next.js
/.next/
/out/
.swc/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
debug.log

# env files (can opt-in for committing if needed)
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
*.launch
.settings/

# Cache and temporary files
.cache/
*.log
.temp
tmp/
temp/

# Prisma
/prisma/*.db
/prisma/migrations/*.sql
!/prisma/migrations/*/migration.sql

# Logs
/logs
*.log

# Local SSL certificates
*.crt
*.key
*.pem

# Build output
.swc/
storybook-static/

# Test coverage
coverage/
.nyc_output/

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

prompt.md
sessionConcepts.md
spec.md
project_tree.md
changelog.md
codebase-knowledge.md
technical-specs/**
technical-specs/

*.py

old_changelog.md
old_codebase-knowledge.md

CHANGELOG.md
CODEBASE-KNOWLEDGE.md
migration.sql
new_summarize.py